!!!
%html{lang: 'en'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'viewport', content: 'with=device-width, initial-scale=1'}/
    %title
      - if content_for? :title
        = yield :title
      - else
        Rails7elm
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = javascript_importmap_tags

    - turboval = yield(:body_turbo) if content_for?(:body_turbo)
  %body{'data-turbo': turboval, class: 'container-lg'}
    -# this is the best way to avoid troubles on pages leading to Elm widgets
    %nav.nav{style: 'background: aqua'}
      = link_to 'Home', root_path, class: 'nav-link', 'data-turbo': 'false'
      = link_to 'Uploads', uploads_path, class: 'nav-link'
    %hr
    %div{class: 'container-sm'}
      %p.notice= notice
      %p.alert= alert

    %div{class: 'container-fluid'}
      = yield

    %div.container-overflow{style: 'margin-top:1em'}
      %footer.bg-dark.text-center.text-white
        Rails7elm
